<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">

  </script>
</head>
<body>
  <div>这只是一个测试代码</div>
  <form id="form1" runat="server">
    <div id="v">
    </div>
    <input type="button" value="测试" id="test" />
  </form>
</body>
</html>

    <script type="text/javascript" language="javascript">
        $(function() {

            $("#test").click(function() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:1337/parse/classes/GameScore/cM59Ii747K",
                    beforeSend: function(request) {
                        request.setRequestHeader("X-Parse-Application-Id", "myAppId");
                    },
                    success: function(result) {
                        console.log(result);
                    }
                });
            });
        });
    </script>
